/*
  body
*/

body {
  font-family: "PT Sans", Arial, sans-serif;
  min-width: 360px;
}

.body-wrapper {
  width: 320px;
  margin: 0 auto;
  //padding: 0 20px;
  //border: 1px black solid;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}
