.blue-button {
  @include size(280px, 58px);
  background-color: $blue-item-bg_normal;
  color: white;

  border: 0;

  text-transform: uppercase;
  @include txt-21-26-bold;

  margin: 0 auto;
}

.blue-button:hover {
  background-color: $blue-item-bg_hover;
}

.blue-button:hover:active {
  background: $blue-item-bg_down;
  color: $blue-item-txt_down;
}

