.site-list {
  @include flex-col-center;

  list-style: none;

  text-align: center;

  padding: 0;
  margin: 0;
}

.site-list__item {
  @include txt-18-40-bold;

  color: $btn-txt--normal;
  background: $btn--normal;

  text-transform: uppercase;

  margin-bottom: 1px;
}

.site-list__item-link {
  display: block;
  color: $btn-txt--normal;
  height: 48px;
  padding-top: 7px;
}

.site-list__item-link:hover {
  background-color: $btn--hover;
}

.site-list__item-link:active {
  background: $btn--down;
  color: $btn-txt--down;
}

.site-list__item-link:visited {
  color: $btn-txt--normal;
}

