.map {
  @include flex-col-center;

  text-align: center;
  text-transform: uppercase;
  margin-top: 40px;
}

.map__question {
  @include txt-21-26-bold;
}

.map__offer {
  @include txt-14-24-normal;
  margin-bottom: 40px;
}

.map__hotelsearch-button {
  margin-bottom: 50px;
}
