.page-footer {
  @include flex-col-center;
  align-items: center;
  margin-top: 50px;
}

.page-footer__tag {
  text-transform: uppercase;
  margin: 0 auto;
}

.social-list,
.page-footer__developers  {
  list-style: none;

  @include flex-row-sa;

  width: 55%;
  padding: 0;
  padding-top: 40px;
  margin: 0;
}

.social-list__item {
  @include flex-col-center;
  align-items: center;

  @include size(46px, 48px);

  background: $btn--normal;
}

.social-list__link {
  display: block;
}

.social-list__item:hover {
  background: $btn--hover;
}

.social-list__link:active {
  opacity: 0.3;
}

.social-list__link--twitter {
  content: "";
  display: block;
  background-image: url("../img/icon-twitter.svg");
  background-repeat: no-repeat;
  background-position: center;
  @include size(27px, 34px);
}

.social-list__link--facebook {
  content: "";
  display: block;
  background-image: url("../img/icon-facebook.svg");
  background-repeat: no-repeat;
  background-position: center;
  @include size(27px, 34px);
}

.social-list__link--youtube {
  content: "";
  display: block;
  background-image: url("../img/icon-youtube.svg");
  background-repeat: no-repeat;
  background-position: center;
  @include size(27px, 34px);
}

.page-footer__developers {
  @include flex-row-sa;
  align-items: center;
  text-transform: uppercase;
}

.developers__link {
  content: "";
  display: block;
  background-image: url("../img/logo-htmlacademy.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  @include size(27px, 34px);

}

.developers__link:hover {
  background-image: url("../img/logo-htmlacademy-hover.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.developers__link:active {
  background-image: url("../img/logo-htmlacademy.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}
