/*
Colors
*/

$btn--normal: #81b3d2;
$btn--hover: #669ec0;
$btn--down: #5496bd;
$btn--disabled: #e5e5e5;

$btn-txt--normal: #ffffff;
$btn-txt--hover: #ffffff;
$btn-txt--down: rgba(255, 255, 255, 0.3);
$btn-txt-disabled: #ffffff;

$menu--normal: #000000;
$menu--hover: $btn--normal;
$menu--down: rgba(118, 99, 87, 0.3);

$menu--normal-active: #766357;
$menu--hover-active: #604e43;
$menu--down-active: rgba(118, 99, 87, 0.3);

$input-bg_normal: #f2f2f2;
$input-bg_hover: #e5e5e5;
$input-bg_down: #d5d5d5;

$input-check: #333333;

//$logo-html-a_hover: $btn--normal;

$ctrl-mob--normal: #5c6870;
$ctrl-mob--hover: $input-check;
$ctrl-mob--down: $input-check; // opacity 0.3

$ctrl-desk--down: $ctrl-mob--normal;
$ctrl-desk--hover: $input-check;
$ctrl-desk--down: $input-check; // opacity 0.3
